@using MyWalletz.Helpers
<script type="text/ng-template" id="forgot-password.html">
  <div id="forgot-password-page">
    <h2 class="page-header">Forgot Password</h2>
    <form name="form" ng-submit="submit()" novalidate>
      @Html.ClientView("ModelErrors")
      <field-group for="email">
        <label class="control-label" for="forgot-password-email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input
              id="forgot-password-email"
              name="email"
              type="email"
              ng-model="password.email"
              ng-required="true"
              autofocus />
          </div>
        </div>
        <validation-message
          for="email"
          required="Email is required."
          email="Email must be in valid format." />
      </field-group>
      <div class="form-actions">
        <button
          type="submit"
          ng-disabled="form.$invalid"
          class="btn btn-primary">
          Submit
        </button>
        or <a href="@Url.ClientUrl("sign-in")">sign in</a> 
        if you can recall your credential.
      </div>
    </form>
  </div>
</script>