<script type="text/ng-template" id="home.html">
  <h2 class="page-header">Home</h2>
  <div>
    <h4>Welcome to AngularJS SPA</h4>
    <p>AngularJS SPA is starter kit template to develop single page application with AngularJS in Microsoft Technology Stack. Some of the key technology used in this template are:</p>
    <ol>
      <li><a href="http://angularjs.org/">AngularJS</a></li>
      <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
      <li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
      <li><a href="http://aboutcode.net/postal/">Postal</a></li>
      <li><a href="http://www.asp.net/web-api">ASP.NET Web API</a></li>
      <li><a href="http://www.asp.net/mvc">ASP.NET MVC</a></li>
      <li>and many more...</li>
    </ol>
    <p>To get the latest update visit the <a href="https://github.com/kazimanzurrashid/AspNetMvcAngularJsSpa">Project Page</a> or follow me <a href="https://twitter.com/manzurrashid">@@manzurrashid</a>.</p>
  </div>
</script>