@using MyWalletz.Helpers
<script type="text/ng-template" id="user-create.html">
  <div id="sign-up-page">
    <h2 class="page-header">Sign Up</h2>
    <form name="form" ng-submit="submit()" novalidate>
      @Html.ClientView("ModelErrors")
      <field-group for="email">
        <label class="control-label" for="sign-up-email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input
              id="sign-up-email"
              name="email"
              type="email"
              ng-model="user.email" 
              ng-required="true"
              autofocus />
          </div>
        </div>
        <validation-message
          for="email"
          required="Email is required."
          email="Email must be in valid format." />
      </field-group>
      <field-group for="password">
        <label class="control-label" for="sign-up-password">Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            <input
              id="sign-up-password"
              name="password"
              type="password"
              ng-model="user.password"
              ng-required="true"
              ng-minlength="6" />
          </div>
        </div>
        <validation-message
          for="password"
          required="Password is required."
          minlength="Password must be at least 6 characters." />
      </field-group>
      <field-group for="confirmPassword">
        <label class="control-label" for="sign-up-confirm-password">
          Confirm password
        </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            <input
              id="sign-up-confirm-password"
              name="confirmPassword"
              type="password"
              ng-model="user.confirmPassword"
              ui-validate="'$value==user.password'"
              ui-validate-watch="'user.password'" />
          </div>
        </div>
        <validation-message
          for="confirmPassword"
          validator="Confirm password must be same as password." />
      </field-group>
      <div class="form-actions">
        <submit-button>Submit</submit-button>
        or <a href="@Url.ClientUrl("sign-in")">sign in</a> 
        if you already have an account.
      </div>
    </form>
  </div>
</script>