@using MyWalletz.Helpers
<script type="text/ng-template" id="session-create.html">
  <div id="sign-in-page">
    <h2 class="page-header">Sign In</h2>
    <form name="form" ng-submit="submit()" novalidate>
      @Html.ClientView("ModelErrors")
      <field-group for="email">
        <label class="control-label" for="sign-in-email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input
              id="sign-in-email"
              name="email"
              type="email"
              ng-model="session.email"
              ng-required="true"
              autofocus />
          </div>
        </div>
        <validation-message
          for="email"
          required="Email is required."
          email="Email must be in valid format." />
      </field-group>
      <field-group for="password">
        <label class="control-label" for="sign-in-password">
          Password
          (<a href="@Url.ClientUrl("forgot-password")" tabindex="-1">forgot?</a>)
        </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            <input
              id="sign-in-password"
              name="password"
              type="password"
              ng-model="session.password"
              ng-required="true" />
          </div>
        </div>
        <validation-message
          for="password"
          required="Password is required." />
      </field-group>
      <div class="control-group">
        <label class="checkbox">
          <input
            id="sign-in-remember-me"
            name="rememberMe"
            type="checkbox"
            value="true"
            ng-model="session.rememberMe" />
          <span>Keep me remembered</span>
        </label>
      </div>
      <div class="form-actions">
        <button
          type="submit"
          ng-disabled="form.$invalid" class="btn btn-primary">
          Submit
        </button>
        or <a href="@Url.ClientUrl("sign-up")">sign up</a> 
        if you do not have any account.
      </div>
    </form>
  </div>
</script>